[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipdb = "*"
pylint = "*"
"autopep8" = "*"

[packages]
scikit-learn = "==0.19.*"
pandas = "==0.22.*"
sklearn-porter = "==0.6.*"
docopt = "==0.2.*"

[requires]
python_version = "3.5"
